{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1><strong><center>LATIHAN</center></strong></h1>
    <h2>Latihan Kaidah Pencacahan</h2>
    <p>1. Dito memiliki 4 pasang sepatu dan 3 pasang kaus kaki. Tentukanlah banyaknya cara orang tersebut dalam 
        mengenakan sepatu dan kaus kaki tersebut!</p>
        <p>2. Di dalam sebuah tempat pensil terdapat 4 pulpen dan 4 pensil. Berapakah banyaknya cara memilih satu pulpen 
        atau satu pensil?</p>
        <p>3. Dalam sebuah kelompok terdiri dari 10 peserta didik. Jika diantara 10 peserta didik tersebut akan dipilih 
        satu orang untuk menjadi ketua dan satu orang untuk menjadi wakil ketua, berapa banyak cara untuk menentukannya?</
        p>
        <p>4. Berapakah banyaknya susunan berbeda yang dapat dibuat dari huruf-huruf “PENDIDIKAN”</p>
        <p>5. Dalam sebuah kotak terdapat 8 bola warna merah dan 6 bola warna putih. Berapa banyak cara mengambil 2 bola 
        warna merah dan 2 bola warna putih?</p>
    <h2>Latihan Peluang Suatu Kejadian</h2>
        <p>1. Sebuah dadu dilemparkan sebanyak 50 kali. Berapa frekuensi harapan muncul angka genap?</p>
        <p>2. Dalam kantong A terdapat 6 kelereng merah dan 4 kelereng biru, dalam kantong B terdapat 3 kelereng merah 
        dan 3 kelereng putih. Dari setiap kantong diambil satu kelereng secara acak. Berapa peluang terambilnya kelereng 
        biru dari kantong A dan kelereng putih dari kantong B?</p>
        <p>3. Sebuah dadu dan sekeping uang logam dilempar bersama-sama sebanyak satu kali. Berapa peluang munculnya 
        bilangan prima pada dadu dan angka pada uang logam?</p>
        <p>4. Sebuah dadu dilempar satu kali. Berapa peluang muncul bilangan prima?</p>
        <p>5. Sebuah mesin permainan melempar bola bernomor 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 sebanyak 10 kali. Berapa 
        frekuensi harapan muncul bola dengan nomor genap?</p>
    <h2>Latihan Kejadian Majemuk</h2>
        <p>1. Sebuah dadu dilempar satu kali. Berapa peluang munculnya mata dadu yang bukan angka 4?</p>
        <p>2. Pada percobaan melempar sebuah dadu dan sekeping uang logam. Tentukan peluang munculnya mata dadu kurang 
        dari 4 atau angka pada uang logam!</p>
        <p>3. Sekeping uang logam dilempar dua kali secara berturut-turut. Berapa peluang muncul gambar pada pelemparan 
        pertama dan angka pada pelemparan kedua?</p>
        <p>4. Jika peluang Diana lulus SNMPTN 0,5. Berapa peluang Diana tidak lulus SNMPTN?</p>
        <p>5. Sebuah dadu dilemparkan satu kali. Tentukan peluang munculnya bilangan ganjil atau bilangan kelipatan 5!</p>

{% endblock %}