{% extends 'base.html' %}

{% load static %}

{% block content %}
<center>
    <h1>PELUANG</h1>
</center>
    <p>Peluang pada umumnya berarti kesempatan, namun pada matematika, peluang atau probabilitas adalah kemungkinan yang mungkin terjadi/muncul dari suatu peristiwa.</p>
    <p>Terkadang kita mengukur sebuah peluang dengan angka, seperti “kemungkinannya sekitar 10%”, atau dengan perkataan, seperti, “ah itu tidak mungkin” atau “itu sudah pasti terjadi”.</p>
    <p>Dalam angka, peluang selalu berkisar antara 0 sampai dengan 1. Dimana 0 menyatakan sebuah kejadian yang tidak mungkin terjadi dan 1 menyatakan sebuah kejadian yang pasti terjadi, dalam matematika hal ini dinotasikan sebagai 0 ≤ P(K) ≤ 1.</p>
    <p>dengan P(K) menyatakan peluang terjadinya kejadian K.</p>
    <p>Materi peluang terdiri dari:</p>
    <p>1. Kaidah Pencacahan</p>
    <p>2. Peluang Suatu Kejadian</p>
    <p>3. Kejadian Majemuk></p>

{% endblock %}