{% extends 'base.html' %}
{% load static %}

{% block content %}
        <p><center>
        <h1>BIOGRAFI</h1>
        <img src="{% static 'img/lydia.jpg' %}" alt="Logo Untirta" width="200px">
        </center> </p>
        <p>Penulis dengan nama lengkap Lydia Amandha Haffith lahir di Lebak, 20 Januari 2003. Penulis merupakan anak ke-4 dari 4 bersaudara dari pasangan A. Hujaeni dan O. Saodah. Penulis merupakan seorang mahasiswa program studi S-1 Pendidikan Matematika Fakultas Keguruan dan Ilmu Pendidikan di Universitas Sultan Ageng Tirtayasa.</p> 
        <p>Pada tahun 2009—2015, penulis menempuh pendidikan di SDN 1 Cipanas. Lalu pada tahun 2015—2018, penulis melanjutkan pendidikan di SMPN 1 Cipanas. Dan pada tahun 2018—2021, penulis melanjutkan pendidikan di SMAN 1 Cipanas.</p>
        <p>Semoga dengan website ini mampu memberikan kontribusi positif bagi dunia pendidikan. Akhir kata penulis mengucapkan rasa syukur yang sebesar - besarnya atas terselesaikannya website yang berjudul "Peluang".</p>

{% endblock %}